body {
	background-color: #696b96;
	background-image: url("http://www.transparenttextures.com/patterns/dark-wood.png");
	width:1200px;
	margin:auto;
   }
    

header{
 	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	font-family: 'Playfair Display', serif;
	color:white;
	height: 75px;
	text-align: right;
	background-color: #ffffff;
	background-image: url("http://www.transparenttextures.com/patterns/stressed-linen.png");
}




article{
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	}

#components article:nth-of-type(odd){
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	}

#components article:nth-of-type(even){
	background-color: #bcbdd1;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	}










#bio {
	




h1 {
	margin-right:20px;
	}

#main{
	margin-top: 30px;
	color:white;
 	height:.41666667%;
 	width:;
}

#mainbutton {
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color:#aeaeae;
	border: none;
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
    height: 45px;
    width:150px;
    font-size: 20pt;
    
	}

	/* unvisited link */
#mainbutton a:link {
		color: white;
		text-decoration: none;
	}

	/* visited link */
#mainbutton a:visited {
		color: white;
		text-decoration: none;
	}

	/* mouse over link */
#mainbutton a:hover {
		color: #696b96;
		text-decoration: none;
	}

	/* selected link */
#mainbutton a:active {
		background-color: yellow;
		text-decoration: none;
	}



















#myface{	
	margin-left:10.426667%;
	margin-top: 10px;
	
	}    
#boutme{
	margin-top: 10px;
	
	}
	
#comp1{
	

	
	color:white;
 	height:300px;
 	width:;
 	margin-top:50px;
}
#cp1{
	margin-left:20px;
	}
	
#comp1 img{
	width: 1200px;
	height: 100px;
	}	
	
	
	
	
	
	
	

#comp2{
	
	
	color:white;
 	height:1250px;
 	width:;
 	margin-top:50px;
}

#comp2 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}




#comp2 h4{
	color:#857D5D;
	}



#comp3{
	
	
 	height:350px;
 	
 	margin-top:50px;
}


#comp3 img{
	width: 1200px;
	height: 150px;
	}








#comp4{


	color:white;
 	height:400px;
 	width:;
 	margin-top:50px;
}
#comp4 h4{
	color:#857D5D;
	}

#comp4 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}






#comp5{


 	height:450px;
 	width:;
 	margin-top:50px;
}



#comp5 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}

