body {
	background-color: #696b96;
	background-image: url("http://www.transparenttextures.com/patterns/dark-wood.png");
	width:;
	
   }
    

#header{
 	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	font-family: 'Playfair Display', serif;
	color:white;
	height: 75px;
	text-align: right;
	background-color: #ffffff;
	background-image: url("http://www.transparenttextures.com/patterns/stressed-linen.png");
}


#bio {
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	}




h1 {
	margin-right:20px;
	}

#main{
	margin-top: 30px;
	color:white;
 	height:.41666667%;
 	width:;
}


#myface{	
	margin-left:10.426667%;
	margin-top: 10px;
	
	}    
#boutme{
	margin-top: 10px;
	
	}
	
#comp1{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:300px;
 	width:;
 	margin-top:50px;
}
#cp1{
	margin-left:20px;
	}

#comp2{
	background-color: #bcbdd1;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:500px;
 	width:;
 	margin-top:50px;
}

#comp2 h4{
	color:#857D5D;
	}



#comp3{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:300px;
 	width:;
 	margin-top:50px;
}

#comp4{
	background-color: #bcbdd1;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:300px;
 	width:;
 	margin-top:50px;
}
#comp4 h4{
	color:#857D5D;
	}



#comp5{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
 	height:300px;
 	width:;
 	margin-top:50px;
}

#cpone{
	background-color:#fdd835;
	height:  7.916667%;
	width: 960;
	text-align:center;
	font-weight:bold;
	font-size: 13pt;
	
	
	}
#cpone ul li{
	
	display: inline-block;
	margin: 20px;
	overflow:;
	max-width:100%;
	
	}


















#cptwo{
	color:red;
	display:;
	position: center;
	display: block:
	}

#cptwo img{
	display: inline-block:
	}






#cpthree{
	color:white;
	background-color:#20bbe7;
	max-width:100%;
	height: 153px;
	}

#cpthree input{
	background-color:#35c1e9;
	border: none;
	
	}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


	
#cpthree button{
	color:white;
	background-color: black;
	border: none;
	}	
	
	
#cpfour{
	color:white;
	background-image:url("../images/cpfour/home.jpg");
	height: 1002px;
	text-align: center;
	
#cpfour button{
	background-color: green;
	}
	
#cpfive{
	color:orange;
	}			


























