body {
	background-color: #696b96;
	background-image: url("http://www.transparenttextures.com/patterns/dark-wood.png");
	width:1200px;
	margin:auto;
   }
    

header{
 	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	font-family: 'Playfair Display', serif;
	color:white;
	height: 75px;
	text-align: right;
	background-color: #ffffff;
	background-image: url("http://www.transparenttextures.com/patterns/stressed-linen.png");
}


#bio {
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	}




h1 {
	margin-right:20px;
	}

#main{
	margin-top: 30px;
	color:white;
 	height:.41666667%;
 	width:;
}

#mainbutton {
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color:#aeaeae;
	border: none;
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
    height: 45px;
    width:150px;
    font-size: 20pt;
    
	}

	/* unvisited link */
#mainbutton a:link {
		color: white;
		text-decoration: none;
	}

	/* visited link */
#mainbutton a:visited {
		color: white;
		text-decoration: none;
	}

	/* mouse over link */
#mainbutton a:hover {
		color: #696b96;
		text-decoration: none;
	}

	/* selected link */
#mainbutton a:active {
		background-color: yellow;
		text-decoration: none;
	}



















#myface{	
	margin-left:10.426667%;
	margin-top: 10px;
	
	}    
#boutme{
	margin-top: 10px;
	
	}
	
#comp1{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");

	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:300px;
 	width:;
 	margin-top:50px;
}
#cp1{
	margin-left:20px;
	}
	
#comp1 img{
	width: 1200px;
	height: 100px;
	}	
	
	
	
	
	
	
	

#comp2{
	background-color: #bcbdd1;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:550px;
 	width:;
 	margin-top:50px;
}

#comp2 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}




#comp2 h4{
	color:#857D5D;
	}



#comp3{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:350px;
 	
 	margin-top:50px;
}


#comp3 img{
	width: 1200px;
	height: 150px;
	}








#comp4{
	background-color: #bcbdd1;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	color:white;
 	height:400px;
 	width:;
 	margin-top:50px;
}
#comp4 h4{
	color:#857D5D;
	}

#comp4 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}






#comp5{
	background-color: #857d5d;
	background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-3.png");
	-webkit-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 52px -6px rgba(0,0,0,0.75);
 	height:450px;
 	width:;
 	margin-top:50px;
}



#comp5 img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	}








#cpone{
	background-color:#fdd835;
	height:  7.916667%;
	max-width: 100%;
	text-align:left;
	font-weight:bold;
	font-size: 13pt;
	
	
	}
#cpone ul li{
	
	display: inline-block;
	margin: 15px;
	position: relative;
    top: 12px;
	max-width:100%;
	
	}

#cpone ul li img{
	margin-left: 10px;
	}


#cpone input{
	
	border: none;
	position: relative;
    left: px;
    bottom: px;
	height: 44px;
    width:200px;
	}















#cptwo{
	color:white;
	}

#cptwo img{
	display: none:
	}

.imgone {
	background-image: url("../images/cptwo/cptwo_one.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}
#cptwo h1{
	position: relative;
    left: 10px;
    top: 80px;
	}
#cptwo h2{
	position: relative;
    left: 50px;
    top: 25px;
	}	
#cptwo h3{
	position: relative;
    left: 10px;
    top: 5px;
    font-size: 25pt;
	}






	
		
.imgtwo {
	background-image: url("../images/cptwo/cptwo_two.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}
.imgthree {
	background-image: url("../images/cptwo/cptwo_three.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}
.imgfour {
	background-image: url("../images/cptwo/cptwo_four.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}
.imgfive {
	background-image: url("../images/cptwo/cptwo_five.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}
.imgsix {
	background-image: url("../images/cptwo/cptwo_six.jpg");
	background-size:cover;
	float:left;
	width: 329.328px;
	height: 212.219px;
	max-width:100%;
	max-height:100%;
	}




















#cpthree{
	color:white;
	background-color:#20bbe7;
	width:1200px;
	height: 153px;
	font-family: 'Open Sans';
	
	
	}
#cpthree h1{
	font-size: 50pt;
	position: relative;
    left: 10px;
    top: 30px;
    margin-left: 50px;
    letter-spacing: 10px;
    
	}




	

#cpthree input{
	background-color:#35c1e9;
	border: none;
	position: relative;
    left: 600px;
    bottom: 80px;
	height: 44px;
    width:350px;
	}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


	
#cpthree button{
	color:white;
	background-color: black;
	border: none;
	position: relative;
    left: 600px;
    bottom: 80px;
    height: 45px;
    width:150px;
    margin-left: 10px;
	}	
	












	
#cpfour{
	color:white;
	background-image:url("../images/cpfour/home.jpg");
	background-size:cover;
	
	
	width: 1200px;
	max-width:100%;
	max-height:100%;
	height: 1002px;
	text-align:center;
	}
	
	
#cpfour h1{
	position: relative;
    top: 100px;
    font-weight:bold;
    font-size: 50pt;
	}	

#cpfour h2{
	position: relative;
    top: 120px;
    font-size: 30pt;
	}	
	
#cpfour button{
	background-color: #76bf58;
	position: relative;
    top: 140px;
	border: none;
    height: 45px;
    width:150px;
  
	}


	

#cpfive{
	background-color: #333132;
	}
	
#cpfive h1{
	color:#3ea0c7;
	}	

#cpfive h2{
	color:#6d6e71;
	}	

#cpfive ul li{
	color:#939598;
	}	
#menucolumn{
	position: relative;
    left: 320px;
    bottom:140px;
    }
#menucolumn ul li{
	color:white;
	}

#socialcolumn{
	position: relative;
    left: 620px;
    bottom:240px;
    }

















