<!DOCTYPE HTML>

<html lang="en">
	<head>



		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="icon" type="image/png" href="images/icon.png">
		<link rel="stylesheet" href="../5/component.css">
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<title>dwilcken</title>



	</head>
		<body>
		<footer>
			<h1>lawn care</h1>	
			
		
			<section class="contact">	
				<h2>Contact us</h2>	
					<ul>
						<li>Freephone:<a href="#"> +1 800 559 6580</a></li>
						<li>Telephone:<a href="#"> +1 800 603 6035</a></li>
						<li>FAX:<a href="#"> + 1800 889 9898</a></li>
						<li>E-mail:<a href="#"> mail@demolink.org</a></li>
					</ul>	
			</section>
		
			<section id="menu">	
				<h2>Menu</h2>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Photo Gallery</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
			</section>
		
	
			<section id="social">
				<h2>We are social</h2>
					<ul>
						<li><a href="http://www.facebook.com/"><i class="fa fa-facebook fa-lg"  style="color:white;"></i></a></li>
						<li><a href="http://www.twitter.com/"><i class="fa fa-twitter fa-lg" style="color:white;"></i></a></li>
						<li><a href="http://www.youtube.com/"><i class="fa fa-youtube fa-lg" style="color:white;"></i></a></li>
						<li><a href="http://www.instagram.com/"><i class="fa fa-instagram fa-lg" style="color:white;"></i></a></li>
					</ul>
				<h2>Still have questions?</h2>	
				<button type="button">SEND REQUEST</button>
			</section>
			<section>
				<h3>Lawn Care &copy 2016 All rights reserved.<a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></h3>
				
			</section>	
	</footer>		
	</body>
</html>


<!--http://www.templatemonster.com/demo/57855.html-->