

body{
	background-color: #333132;
	color:#6d6e71;
	margin: 0;
    vertical-align: top;
    font-family: "PT Sans",sans-serif;
    padding: 1.250em 1.250em 1.250em 1.250em;
	}
	
h1{
	color:#3ea0c7;
	font-size: 26px;
    line-height: 1.73;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 40px 0 60px 100px;
    
	}	

h2{
	color:#6d6e71;
	margin: 0 0 50px 38px;
	}	
	
h3 {
	font-size: 1.3em;
	font-weight:500;
	margin: 60px 0 0 40px;

	}


ul {
	list-style-type: none;
	font-size: 1.5em;
	font-weight:500;
	}
section{
	float:left;
	margin:0 60px 0 60px;
	}

#social ul li{
	display:inline;
	margin-right: 30px;
	}



a {
    text-decoration: none;
}

h3 a:link{
	color:#FFF;
	}
h3 a:visited{
	color:#FFF;
	}
h3 a:hover{
	color:#3ea0c7;
	}

.contact ul li:nth-child(-n+5) a:link { 
    color:#6d6e71;
}

.contact ul li:nth-child(-n+5) a:visited { 
    color:#6d6e71;
}

.contact ul li:nth-child(-n+5) a:hover { 
    color:#3ea0c7;
}





.contact ul li:nth-child(4) a:link { 
    color:#FFF;
}


.contact ul li:nth-child(4) a:visited{ 
    color:#FFF;
}
.contact ul li:nth-child(4) a:hover { 
    color:#3ea0c7;
}




#menu ul li:nth-child(1) a:link { 
    color:#3ea0c7;
}


#menu ul li:nth-child(1) a:visited { 
    color:#3ea0c7;
}

#menu ul li:nth-child(1) a:hover { 
    color:#3ea0c7;
}





#menu ul li:nth-child(n+2) a:link { 
    color:#FFF;
}

#menu ul li:nth-child(n+2) a:visited { 
    color:#FFF;
}
#menu ul li:nth-child(n+2) a:hover { 
    color:#3ea0c7;
}


#questions li a{
	background-color:#333132;
	padding: 10px 10px 10px 10px;
	border: 1px solid #6d6e71;
	}
	
#questions li a:link{
	color:#FFF;
	}	
#questions li a:visited{
	color:#FFF;
	}	
#questions li a:hover{
	background-color:#3ea0c7;
	}	
	
