
#cpfive{
	background-color: #333132;
	}
	
#cpfive h1{
	color:#3ea0c7;
	}	

#cpfive h2{
	color:#6d6e71;
	}	

#cpfive ul li{
	color:#939598;
	}	
#menucolumn{
	position: relative;
    left: 320px;
    bottom:140px;
    }
#menucolumn ul li{
	color:white;
	}

#socialcolumn{
	position: relative;
    left: 620px;
    bottom:240px;
    }

