<!DOCTYPE HTML>

<html lang="en">
	<head>



		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="icon" type="image/png" href="images/icon.png">
		<link rel="stylesheet" href="../4/component.css">
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
		<title>dwilcken</title>



	</head>


	<body>
		<div id="cpfive">
			<div class="maintitle">	
				<h1>LAWN CARE</h1>	
			</div>	
		
			<div class="contactcolumn">	
				<h2>Contact us</h2>	
					<ul>
						<li>Freephone: +1 800 559 6580</li>
						<li>Telephone: +1 800 603 6035</li>
						<li>FAX: + 1800 889 9898</li>
						<li>E-mail: mail@demolink.org</li>
			</div>
		
			<div id="menucolumn">	
				<h2>Menu</h2>
					<ul>
						<li>Home</li>
						<li>About Us</li>
						<li>Services</li>
						<li>Photo Gallery</li>
						<li>Contacts</li>
					</ul>
			</div>
		
			<div id="socialcolumn">	
				<h2>We are social</h2>
				<img  src="images/cpfive/fb.png" height="15">
				<img  src="images/cpfive/twit.png" height="15">
				<img  src="images/cpfive/yt.png" height="15">
				<img  src="images/cpfive/insta.png" height="15">
				<h2>Still have questions?</h2>	
				<button type="button">SEND REQUEST</button>	
			</div>
		
		</div>
</div>		




	</body>
</html>


http://www.templatemonster.com/demo/57855.html