section{
	background-color:#fdd835;
	height:  7.916667%;
	max-width: 100%;
	text-align:left;
	font-weight:bold;
	font-size: 13pt;
	
	
	}
#cpone ul li{
	
	display: inline-block;
	margin: 15px;
	position: relative;
    top: 12px;
	max-width:100%;
	
	}

#cpone ul li img{
	margin-left: 10px;
	}


#cpone input{
	
	border: none;
	position: relative;
    left: px;
    bottom: px;
	height: 44px;
    width:200px;
	}