body{
	margin:auto;
	background-color:#fdd835;
	}

section{
	
	height:  7.916667%;
	font-weight:bold;
	font-size: 20px;
	float:left;
	text-transform:uppercase;
	}


	
li{
	
	
	margin: px;
	display: inline-block;
	}

img{
	height: 20px;
	}


input{
	width:175px;
	border: none;
    height: 30px;
	}