<!DOCTYPE HTML>

<html lang="en">
	<head>



		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="icon" type="image/png" href="images/icon.png">
		<link rel="stylesheet" href="../1/component.css">
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
		<title>dwilcken</title>



	</head>


	<body>
	
	
		<section >
			<ul>
				<li>roofing</li>
				<li>drainage</li>
				<li>metalwork</li>
				<li>cements</li>
				<li>masonry</li>
				<li>plastering</li>
				<li>lintels</li>
			</ul>
		</section>	
			
		<section>
			<ul class="input">	
				<li><input type="text"></li>
			</ul>
		</section>
		
		<section>		
				<ul class="button">
					<li><a href="#"><img src="../1/images/search.png"></li>	
				</ul>
		</section>
	
	
	
	
	





	</body>
</html>

<!--http://www.templatemonster.com/demo/58484.html-->
