nav{
	margin:auto;
	background-color:#fdd835;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 20px;
	}

	
li{

	display: inline-block;
	padding: 20px 30px 20px 0px;
	
	}

img{
	height: 20px;
	padding-left:20px;
	}
	
a:link{
	color:green:
	text-decoration: none;
	}	
a:visited{
	color:;
	text-decoration: none;
	}	