	
body{
	color:white;
	background-image:url("../4/images/home.jpg");
	font-family: "PT Sans",sans-serif;
	text-transform:uppercase; 
	text-align:center;
	}
	
	
h1{
	position: relative;
    top: 100px;
    font-weight:bold;
    font-size: 36px;
    line-height: 1.07em;
	}	

h2{
	position: relative;
    top: 120px;
    font-size: 30pt;
    line-height: 1.07em;
	}	


 li a{
	background-color:#333132;
	padding: 10px 10px 10px 10px;
	border: 1px solid #6d6e71;
	list-style-type: none;
	background-color: #76bf58;
	border: none;
  	text-decoration: none;
  	color:white;
  	border-radius: 5px;
	}
a:hover{
	background-color:#92dc72;	
	}