	
#cpfour{
	color:white;
	background-image:url("../4/images/home.jpg");
	background-size:cover;
	
	
	width: 1200px;
	max-width:100%;
	max-height:100%;
	height: 1002px;
	text-align:center;
	}
	
	
#cpfour h1{
	position: relative;
    top: 100px;
    font-weight:bold;
    font-size: 50pt;
	}	

#cpfour h2{
	position: relative;
    top: 120px;
    font-size: 30pt;
	}	
	
#cpfour button{
	background-color: #76bf58;
	position: relative;
    top: 140px;
	border: none;
    height: 45px;
    width:150px;
  
	}

