body{
	color:white;
	background-color:#20bbe7;
	font-family: 'Open Sans';
	
	}
h1{
	font-size: 50px;
    margin-left: 100px;
    letter-spacing: 10px;
    text-transform:uppercase;
    
	}

section{
	float:left;
	margin-right:20px;
	}

li {
	list-style-type: none;
	
	}
	
.button li{
	padding-top: 50px;
	}
	
		
a:link{
	text-decoration:none;
	background-color: black;
	padding: 10px 60px 10px 60px;
	color:white;
	font-weight:bold;
	 letter-spacing: 2px;
	}	
	
	
a:hover{
	background-color:#3AD2FD;
	}

a:visited{
	color:white;
	}	
	
input{
	background-color:#35c1e9;
	border: none;
	padding: 15px 200px 15px 0px;
	margin-top:40px;
	}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


	

