<!DOCTYPE HTML>

<html lang="en">
	<head>



		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="icon" type="image/png" href="images/icon.png">
		<link rel="stylesheet" href="../2/component.css">
		<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
		<title>dwilcken</title>



	</head>


	<body>
	
	
		<section id="cptwo">
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">Room Style</a></h1>
			</article>
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">Look Like</a></h1>
			</article>
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">Visiting Antartica</a></h1>
			</article>
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">Fly with Roger</a></h1>
			</article>
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">4 Wheels</a></h1>
			</article>
			<article>
				<h3>Channel, 09:57 AM</h3>
				<h1><a href="#">Smart Travler</a></h1>
			</article>
		</section>
	
		
		


	</body>
</html>

<!--http://www.templatemonster.com/demo/58088.html-->

